.challenge-panel p {
    color: #e0e0e0;
}

.challenge-title {
    color: #33cfff;
    margin-bottom: 15px;
}

.challenge-level {
    margin: 50px 0;
}

.challenge-level h1 {
    background-color: #815600;
    font-size: 20px;
    padding: 5px 20px;
}

.challenge-item-section {
    margin-right: 15px;
}

.challenge-item {
    margin: 40px 0px;
}

.challenge-item h3 {
    margin-bottom: 15px;
}

.challenge-container a {
    text-decoration: none;
    color: #33cfff;
}

.challenge-card {
    height: auto;
    background-color: #1f1f1f;
    border: 5px solid #000000;
    border-radius: 25px;
    padding: 30px;
}

.challenge-card a {
    text-decoration: none;
    color: #33cfff;
}

.challenge-card h3 {
    width: auto;
    background-color: #00b135;
    padding: 5px 10px;
    margin-bottom: 25px;
}

.challenge-card p {
    margin-bottom: 15px;
}