@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #181818;
}

*::selection {
    background-color: #210055;
}

.header {
    width: 100vw;
    height: 50px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #FFFFFF;
}

.header-content {
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
}

.container {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: auto;
    padding: 100px 0px;
    color: #FFFFFF;
}

.container p {
    text-align: justify;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 35px;
    border-radius: 10px;
    background-color: #1f1f1f;
}

.card-container h2 {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.card-container p {
    margin-bottom: 20px;
}

.card-container button {
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 5px 25px;
    font-size: 16px;
    background-color: #009fcf;
    color: #FFFFFF;
}

.card-container button:hover {
    transition: .4s;
    background-color: #006a8a;
}

.tags {
    width: 100%;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.tags p {
    margin: 0;
}

.tag {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 5px solid #153843;
}

.exclusive {
    padding: 10px;
    font-size: 14px;
    margin-right: 10px;
    background-color: #00b135;
    color: #FFFFFF;
}

.footer {
    width: 100vw;
    height: 30px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: fixed;
    background-color: #000000;
    color: #dadada;
    font-size: 12px;
}